

.clear {
	clear: both;
}

#page .container #secondary .widget h3.widget-title, #page .container #secondary .widget h1.widget-title {
	border-bottom: none;
}

.horizontal {
	margin-left: -20px;
}

.xbox {
    margin: 10px auto;
    position: relative;
 	text-align:center;
}

.xbut {
	text-align: center;
	font-family: Ubuntu, Cantarell, Sans, Arial;
	font-size: 1em;
	line-height: 46px;
	display: inline-block;
	border-radius: 24px 24px 24px 24px;
	border: 2px solid white;
	background-color: #0066BB;
	height: 46px;
	margin-top: 8px;
        margin-left: 4px;
        margin-right: 4px;
	color: white;
}

.xbutfull {
	float: left;
	width: 208px;
	height: 46px;
}

.xbutfull:hover {
	border-radius: 24px 24px 24px 24px;
	background-color: #008AFF;
}

.xbutleft {
	float: left;
	width: 160px;
	border-right: 1px solid white;
	height: 46px;
}

.xbutleft:hover {
	border-radius: 24px 0 0 24px;
	background-color: #008AFF;
	border-right: 1px solid white;
	height: 46px;
}

.xbutright {
	float: right;
	width: 48px;
	height: 46px;
}

.xbutright:hover {
	border-radius: 0 24px 24px 0;
	background-color: #008AFF;
	height: 46px;
}

.xbut a { color: white; }

.xbutleft a {
	padding: 12px;
	height: 46px;
	text-decoration: none;
}

.xbutright a {
	padding: 12px;
	height: 46px;
	text-decoration: none;
}

.xbutfull a {
	padding: 12px;
	height: 46px;
	text-decoration: none;
}
